:root{
  --color5: #18A558;
  --color4: #ff355e;
  --color3: #003B73;
  --color2: #D4AF37;
  --color1: #0074b7;
}

body{
  font-family: 'Monaco', monospace;
  background-color: #f3f5f7;
}

.home-title{
  color: #003B73;
  margin-left: 3vw;
}

.all-task{
  display: flex;
  flex-direction: row;
  width: 98vw;
  padding-left: 2vw;
}

.task-col{
  width: 18vw;
  margin-left: 1vw;
  border: solid 1px gainsboro;
  box-sizing: border-box;
}

.task-col h2{
  margin: 5px 0px;
}

.col-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.col-head button{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: solid 1px gainsboro;
  cursor: pointer;
}

.daily-head,
.daily-head button{
  color: var(--color1);
}

.start-head, .start-head button{
  color: var(--color2);
}

.doing-head, .doing-head button{
  color: var(--color3);
}

.warn-head, .warn-head button{
  color: var(--color4);
}

.done-head, .done-head button{
  color: var(--color5);
}

